<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Помошник по даче</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="wrapper">
        <div class="menu">
            <a href="#" class="menu-btn">
                <span></span>
            </a>
            <nav class="menu-list">
                <div>
                    @Html.Partial("_LoginPartial")                    
                </div>               
                <a href="@Url.Action("Index", "Home")">Главная</a>
                <a href="@Url.Action("Application", "Home")">Приложение</a>
                <a href="@Url.Action("Guide", "Home")">Справочник</a>
                <a href="@Url.Action("Index", "Admins")">Админка</a>               
            </nav>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
