@model Сountry_cottage_area.Models.AllMap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllMap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cordinates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaveNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaveNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
