@model IEnumerable<Сountry_cottage_area.Models.AgricultureType>

<div class="guideParent">
    <div class="row">
        <div class="col-md-4">
            <div class="guideToolList">
                <h3>Овощи</h3>
                <div class="vegetables">

                    @foreach (var item in Model.Where(p => p.AgriculturesCategoryId == 1))
                    {
                        <a href="#" id="@Html.DisplayFor(modelItem => item.Index)">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                </div>
                <h3>Зелень</h3>
                <div class="greenery">
                    @foreach (var item in Model.Where(p => p.AgriculturesCategoryId == 2))
                    {
                        <a href="#" id="@Html.DisplayFor(modelItem => item.Index)">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                </div>
                <h3>Ягоды</h3>
                <div class="berries">
                    @foreach (var item in Model.Where(p => p.AgriculturesCategoryId == 3))
                    {
                        <a href="#" id="@Html.DisplayFor(modelItem => item.Index)">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="guideToolContent"><h2>Пожалуйста, выберите необходимую культуру!</h2></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>

        function makeRequestAjax(id) {
            $.ajax({
                url: "@Url.Action("GetGuide")",                
                type: "GET",
                data: "id=" + id,
                success: function (response) {
                    $(".guideToolContent").text(response);
                },
                error: function () {
                    alert("Ошибка! Неопределенный Id " + id);
                }
            });
        }
    </script>
}