@model Сountry_cottage_area.Models.AgricultureType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AgricultureType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgriCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgriCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgricultureAppClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgricultureAppClass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
