@model IEnumerable<Сountry_cottage_area.Models.AgricultureType>

@{
    ViewBag.Title = "Справочник культур";
}

<h2>Справочник культур</h2>
<p>
    @Html.ActionLink("Назад", "Index", "Admins")
</p>
<p>
    @Html.ActionLink("Добавить новую культуру", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Название кульруты</p>
        </th>
        <th>
            <p>Категория культуры</p>
        </th>
        <th>
            <p>Идентификатор культуры</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgriculturesCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
